.container_admit{

width: 578px;
margin: 5rem 26rem;

}
.join{
  font-size:23px;
  color:rgb(53, 53, 145);
  text-align: center;
}
.check_result{
  margin:1rem 9rem;
}
.fom{
  padding:2rem 2rem;
  width: 65rem;
}
.submit{
  margin: 2rem 26rem;
  width: 9rem;
  height: 2.5rem;
  background: #83cc83;
  border-radius: 1rem;
  box-shadow:4px 7px rgb(49, 45, 45)
}
.button_1{
  height: 3rem;
  margin: 1rem 12px ;
}
.error-message{
   color: red;
  position: relative;
  left: -12rem;
  top: 30px;
}
