.container_job{
display: flex;
flex-direction:row;
margin-top: 3rem;
}
.img_job{
  height: 30rem;
  width: 43rem;
  border-radius: 55% 2% 45%;
  margin-top:2rem;
  box-shadow: 35px 31px 33px #cfcfcf;
}
.small_content{
  margin: 12rem -30rem;
  width: 24rem;
}
.section{
  font-size: 32px;
  margin: 10rem 29rem;
  width: 35rem;
  color:rgb(28, 28, 75)
}
.students_jobs{
  display: flex;
  flex-direction:row;
  max-width: 71rem;
  flex-wrap: wrap;
margin:-6rem 8rem 13rem;
}
.shubash_job , .niraj_job , .sunil_job , .kriti_job {
  width: 14rem;
  height: 23rem;
  box-shadow: 35px 31px 33px #cfcfcf;
  margin: 1rem -1rem 0rem 2rem;
border-radius: 2rem;
 text-align: center;
 padding:1rem
}
.button{
  height: 2.5rem;
  width: 8rem;
  background: white;
  border-radius: 2rem;
  margin-top: 1rem;
  font-size: 15px;
}
.job_list{
  margin:9rem 27rem;
}
.job_container{
  display: flex;
  flex-direction:row;
  width: 52rem;
  margin: 4rem -4rem;

}
.com_jobs ,.cvl_jobs{
  width:44rem;
  height:auto;
}

