.nav-down{
  height:26rem;
}
.content_bg{
  height:10%;
  width:100%;
  background:linear-gradient(145deg, #e11937 10%, #ff8300 50%, #ffd700 100%);
  padding-bottom: 12rem;
}
.scholorship_content{
  width: 31rem;
  height: 15rem;
  background:white;
  position: relative;
  top: -10rem;
  left: 9rem;
  padding: 62px;
}
.content_scholorship{
  margin-top:0px;
}
.scholorship_criateria{
  width: 14rem;
  height: 19rem;
  background: white;
  position: relative;
  top: -29rem;
  left: 54rem;
  padding: 62px;

}
.criateria_scholorship{
  margin-top:0px; 
}
.scholorship_std{
display: flex;
flex-direction: row;
max-width:314rem;
flex-wrap: wrap;
justify-content: center;
padding-top:2rem;
}
.card1 ,.card2, .card3, .card4,.card5,.card6 {

  width: 20rem;
  height: 13rem;
  margin: 1rem;
  padding-top:5rem;
}